<h3>Nome do admin</h3>
<button class="btn btn-primary">Recarregar</button>
<button class="btn btn-primary">Venda</button>
<button class="btn btn-primary">Histórico</button>
<button class="btn btn-primary">Relatório</button>
<button class="btn btn-primary">Gerenciar Produtos</button>
<button class="btn btn-primary">Gerenciar Taxa</button>
<button class="btn btn-primary">Gerenciar Usuários</button>