<h3>Bem vindo, {{user.nome}}</h3>
<div class="optionAdmin"> 
    <a href="/funcionario/recarga"> <img src="/img/recarga.png" width="50px"> <button class="btn btn-primary">Recarregar</button></a>
    <a href="/funcionario/venda"> <img src="/img/venda.png" width="50px"> <button class="btn btn-primary">Venda</button></a>
    <a href="/admin/historico"> <img src="/img/historico.png" width="50px"> <button class="btn btn-primary">Histórico</button></a>
    <a href="/admin/relatorio"> <img src="/img/relatorio.png" width="50px"> <button class="btn btn-primary">Relatório</button></a>
    <a href="/admin/produto"> <img src="/img/produto.png" width="50px"> <button class="btn btn-primary">Gerenciar Produtos</button></a>
    <a href="/admin/taxa"> <img src="/img/taxa.png" width="50px"> <button class="btn btn-primary">Gerenciar Taxa</button></a>
    <a href="/admin/clientes"> <img src="/img/usuario.png" width="50px"> <button class="btn btn-primary">Gerenciar Clientes</button></a>
    <a href="/admin/funcionarios"> <img src="/img/usuario.png" width="50px"> <button class="btn btn-primary">Gerenciar Funcionarios</button></a>
    <a href="/admin/administradores"> <img src="/img/usuario.png" width="50px"> <button class="btn btn-primary">Gerenciar Administradores</button></a>
</div>