<h3>Nome do admin</h3>
<button class="btn btn-primary">Recarregar</button>
<a href="/funcionario/venda"><button class="btn btn-primary">Venda</button></a>
<button class="btn btn-primary">Histórico</button>
<button class="btn btn-primary">Relatório</button>
<a href="/admin/produto"><button class="btn btn-primary">Gerenciar Produtos</button></a>
<a href="/admin/taxa"><button class="btn btn-primary">Gerenciar Taxa</button></a>
<a href="/admin/clientes"><button class="btn btn-primary">Gerenciar Clientes</button></a>
<a href="/admin/funcionarios"><button class="btn btn-primary">Gerenciar Funcionarios</button></a>
<a href="/admin/administradores"><button class="btn btn-primary">Gerenciar Administradores</button></a>