<h2>Gerenciar Taxa</h2>
{{#each taxas}}
<label for="taxa">A taxa atual é R$ {{taxa}} o quilo</label>
{{else}}
{{/each}}
<form action="/admin/taxa/nova" method="POST">
<label for="taxa">Nova taxa:</label>
    <input type="number" name="taxa" id="taxa">
    <button class="btn btn-success">Atualizar</button>
</form>


