<h2>Gerenciar Taxa</h2>
<label for="taxa">A taxa atual é VALOR o quilo, novo valor:</label>
<input type="number" name="taxa" id="taxa">
<hr>
<a href="/admin/produto/add"><button class="btn btn-success">Adicionar</button></a>