<div class="card mx-auto mt-auto">
    <div class="card-body">
        <a href="/admin"><button class="btn btn-success">Admin</button></a>
<a href="/funcionario"><button class="btn btn-success">Funcionario</button></a>
<a href="/cliente"><button class="btn btn-success">Cliente</button></a>
<a href="/qrcode"> <button class="btn btn-success">QR Code</button> </a>
<a href="/qrcode/leitor"><button class="btn btn-success">Leitor de Qrcode</button></a>
    </div>

</div>

