<a href="/admin"><button class="btn btn-success">Admin</button></a>
<a href="/funcionario"><button class="btn btn-success">Funcionario</button></a>
<a href="/cliente"><button class="btn btn-success">Cliente</button></a>
<a href="/qrcode"> <button class="btn btn-success">QR Code</button> </a>