
<h3>Bem vindo, {{user.nome}}</h3>
{{#if cliente}}
    <p>Saldo na carteira:R$ {{cliente.carteira.saldo}}</p>
{{/if}}

<a href="/cliente/historico"><button class="btn btn-primary">Ver Histórico</button></a>
<a href="/qrcode/leitor"><button class="btn btn-success">Ler Qrcode</button></a>
<a href="/cliente/cadastro"><button class="btn btn-success">Cadastrar Cliente</button></a>