<h3>Finalizar Venda</h3>
<div class="card mt-4">
    <div class="card-body">
        <form class="form" action="/qrcode/scan/{{novaVenda.id}}" method="POST">
            <h5>Valor: R${{novaVenda.valor}}</h5>
            <p>Funcionario: {{funcionario.nome}}</p>
            <p>Data: {{novaVenda.horario}}</p>
            {{#if novaVenda.bebida}}
                <p>Bebida: Sim</p>
            {{/if}}
            {{#if novaVenda.suco}}
                <p>Suco: Sim</p> 
            {{/if}}
            {{#if novaVenda.refrigerante}}      
                <p>Refrigerante: Sim</p>
            {{/if}}
            {{#if novaVenda.agua}}
                <p>Água: Sim</p>
            {{/if}}
            <button type="submit" class="btn btn-primary" value="Get QR">Finalizar</button>
        </form>
    </div>   
</div>
