<h3>Qr code gerado!</h3>
<div class="card">
    <div class="card-body">
        <img src={{src}} alt="QR Code Image" class="center">
    </div>
</div>
<a href="/"><button type="button" class="btn btn-primary mt-4">Voltar </button></a>