<h3>Nome do funcionario</h3>
<a href="/funcionario/recarga"><button class="btn btn-primary">Recarregar</button></a>
<a href="/funcionario/venda"><button class="btn btn-primary">Venda</button></a>
<button class="btn btn-primary">Histórico</button>