<h3>Bem vindo, {{user.nome}}!</h3>

<div class="optionFun">
<a href="/funcionario/historico"> <img src="/img/historico.png" width="50px"> <button class="btn btn-primary">Histórico</button></a>
<br>
<a href="/funcionario/recarga"> <img src="/img/recarga.png" width="50px"> <button class="btn btn-primary">Recarregar</button></a>
<br>
<a href="/funcionario/venda"> <img src="/img/venda.png" width="50px"> <button class="btn btn-primary">Venda</button></a>
</div>

{{!-- <button class="btn btn-primary">Histórico</button> --}}