<h3>Recarga</h3>
<div class="card">
   <div class="card-body">
    <form action="/funcionario/recarga" method="POST">
    <label for="cpf">CPF</label>
        <input type="text"  name="cpf" id="cpf" placeholder="xxx.xxx.xxx-xx" class="form-control">
    <label for="valor">Valor</label>
        <input type="text"  name="valor" id="valor" placeholder="R$" class="form-control">
    
    <button type="submit" class="btn btn-primary mt-4">Finalizar</button>
    </form>
    
  </div>
</div>
