<label for="prato">Peso do prato taxa atual</label>
    <input type="text" name="prato" id="prato">
<div class="form-check">
  <input class="form-check-input" type="radio" name="bebida" id="bebida">
  <label class="form-check-label" for="bebida">
    Bebida
  </label>
</div>
<div>
  <input class="form-check-input" type="radio" name="suco" id="suco">
  <label class="form-check-label" for="suco">
    Suco
  </label>
</div>
<div>
<input class="form-check-input" type="radio" name="refrigerante" id="refrigerante">
  <label class="form-check-label" for="refrigerante">
    Refrigerante
  </label>
</div>
<div>
<input class="form-check-input" type="radio" name="agua" id="agua">
  <label class="form-check-label" for="agua">
    Água
  </label>
</div>
